.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.label-login {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  text-align: left;
  margin-top: 14px;
}

.login-box {
  background: white;
  gap: 10px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 380px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 26px;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.5rem;
}

.login-card {
  width: 100%;
}

.btn-submit {
  margin-top: 15px;
}

.input-login {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition: 0.3s;
}
